
[submodule "nd-aimm-computer-auxiliary-one"]
	path = nd-aimm-computer-auxiliary-one
	url = https://github.com/starlight-traveler/nd-aimm-computer-auxiliary-one.git
	branch = main
[submodule "nd-aimm-main-computer"]
	path = nd-aimm-main-computer
	url = https://github.com/starlight-traveler/nd-aimm-main-computer.git
	branch = main
[submodule "nd-aimm-jupyter-notebooks"]
	path = nd-aimm-jupyter-notebooks
	url = https://github.com/starlight-traveler/nd-aimm-jupyter-notebooks.git
	branch = main
[submodule "nd-aimm-pcb-circuits"]
	path = nd-aimm-pcb-circuits
	url = https://github.com/starlight-traveler/nd-aimm-pcb-circuits.git
[submodule "nd-aimm-computer-auxiliary-interconnect"]
	path = nd-aimm-computer-auxiliary-interconnect
	url = git@github.com:starlight-traveler/nd-aimm-computer-auxiliary-interconnect.git
[submodule "nd-aimm-auxiliary"]
	path = nd-aimm-auxiliary
	url = https://github.com/starlight-traveler/nd-aimm-auxiliary.git
[submodule "nd-aimm-dependencies"]
	path = nd-aimm-dependencies
	url = https://github.com/starlight-traveler/nd-aimm-dependencies.git
[submodule "nd-aimm-drone"]
	path = nd-aimm-drone
	url = https://github.com/starlight-traveler/nd-aimm-drone.git
[submodule "nd-aimm-startup-emergency-computer"]
        path = nd-aimm-startup-emergency-computer
        url = https://github.com/starlight-traveler/nd-aimm-startup-emergency-computer.git
[submodule "nd-aimm-master-control"]
        path = nd-aimm-startup-emergency-computer
        url = https://github.com/starlight-traveler/nd-aimm-master-control.git
